{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Changement de mot de passe temporaire</h1>
           
             <form class="form-group" method="post" id="reset-password-form" >
                    <div class="col-md-12">
                        <label class="col-md-12 mt-3 control-label" for="passwordinput">
                            Temporary Password
                        </label>

                        <input id="temp-password" class="form-control input-md"
                        name="temp-password" type="password" 
                        placeholder="Enter your temporary password" >

                         <span id="temp-password-incorrect"  class="text-danger mt-3 text-small"> </span>

                        <label class="col-md-12 mt-3 control-label" for="passwordinput">
                            New Password
                        </label>

                        <input id="password" class="form-control input-md"
                        name="password" type="password" 
                        placeholder="Enter your password" >

                        <label class="col-md-12 mt-3 control-label" for="passwordinput">
                            Confirm Password
                        </label>

                        <input id="password-confirm" class="form-control input-md"
                        name="password-confirm" type="password" 
                        placeholder="Confirm your password" >

                        <div class="message text-danger">
                        
                        </div>
    
                        <span class="show-pass" onclick="toggle()" style="position: absolute; top:5%; right: 8%;">
                            <i class="icofont-eye" onclick="myFunction(this)"></i>
                        </span>

                        <button type="submit" class="btn btn-primary mt-3">Envoyer</button>

                        <div id="popover-password">
                            <p><span id="result"></span></p>
                            <div class="progress">
                                <div id="password-strength" 
                                    class="progress-bar" 
                                    role="progressbar" 
                                    aria-valuenow="40" 
                                    aria-valuemin="0" 
                                    aria-valuemax="100" 
                                    style="width:0%">
                                </div>
                            </div>
                            <ul class="list-unstyled">
                                <li class="">
                                    <span class="low-upper-case">
                                        <i class="fas fa-circle" aria-hidden="true"></i>
                                        &nbsp;Lowercase &amp; Uppercase
                                    </span>
                                </li>
                                <li class="">
                                    <span class="one-number">
                                        <i class="fas fa-circle" aria-hidden="true"></i>
                                        &nbsp;Number (0-9)
                                    </span> 
                                </li>
                                <li class="">
                                    <span class="one-special-char">
                                        <i class="fas fa-circle" aria-hidden="true"></i>
                                        &nbsp;Special Character (!@#$%^&*)
                                    </span>
                                </li>
                                <li class="">
                                    <span class="eight-character">
                                        <i class="fas fa-circle" aria-hidden="true"></i>
                                        &nbsp;Atleast 8 Character
                                    </span>
                                </li>
                            </ul>
                        </div>
                         <input type="hidden" id="user-id" name="user-id" value="{{app.user.id}}"/>
                    </div>
                </form>
        </div>
    </div>
</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
<script src="/js/strenght_password.js"></script>
    <script src="/js/crypting.js"> </script>

<script src="/js/force_change_temporary_password.js"></script>

{% endblock %}