
{% extends 'base.html.twig' %}

{% block title %}Éditer un compte utilisateur{% endblock %}

{% block body %}

    <div class="row align-items-center justify-content-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Forms</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->

                <div class="row align-item-center">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Éditer un compte utilisateur</h6> 
                            </div>
                            <div class="card-body">
                            <div class="row" >
                                 {{form_start(form)}} 
                                <form  method='post' lass="row align-items-center justify-content-center">
                                    <div  class='col-md-6'> 
                                       <div class="row g-3 align-items-center">
                                    
              
                     
						                {{form_widget(form)}}

                                            <button type="submit" class="btn btn-primary mt-4">Submit</button>

                                       {{form_end(form)}}
                                    </div>

                                 
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}