{% extends 'base.html.twig' %}

{% block title %}Hello AdminGroupController!{% endblock %}

{% block body %}

    <div class="row align-items-center justify-content-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Forms</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->

                <div class="row align-item-center">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Creer nouveau utilisateur</h6> 
                            </div>
                            <div class="card-body">
                            <div class="row" >
                       
                                <form method="post" id="userForm" class="row align-items-center justify-content-center">
                                  
                                 

                                        <div class="mb-3">
                                            <label for="firstname" class="form-label">Prenom</label>
                                            <input type="text" class="form-control" id="firstname" placeholder="Saisir le prenom">
                                        </div>

                                        <div class="mb-3">
                                            <label for="lastname" class="form-label">Nom</label>
                                            <input type="text" class="form-control" id="lastname" placeholder="Saisir le nom">
                                        </div>

                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Saisir l'adress email de l'utilisateur">
                                        </div>

                                         <div class="mb-3">

                                                 <label for="group">Choisir un groupe :</label>

                                                <select class="form-select" id="group">
                                                    <option  name="group" value="">--Choisir un groupe pour l'admin--</option>


                                                    {% for group in groups %}

                                                        <option data-privateKey={{group.privateKey}} value="{{group.id}} ">{{group.title}}</option>

                                                    {%  endfor %}
                                                    
                                                
                                                </select>

                                        </div>



                                        <div class="mb-3">
                                            <label for="userPassword" class="form-label">Votre Mot de Pass</label>
                                            <input name="userPassword" type="password" class="form-control" id="userPassword">
                                            <span class="text-danger" id="incorrectPassword"> </span>
                                        </div>

                                  
                                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                       
                                    

                                    
                                 
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>



      

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    

    <script src="/js/crypting.js"> </script>
    <script src="/js/manageUser.js"> </script>


{% endblock %}
