<h1>Bonjour {{ firstname }},</h1>

<h2>Bonjour vous avez etez nommer Admin du groupe {{title}}</h2>

<p>Voici la clé temporaire du groupe {{tempKey}}</p>
<p>CCette clé sera changé à l'aide de votre mot de pass dés votre connexion sur My-password</p>