<h1>Votre Mot de Pass temporaire</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Suite à la validation de votre compte un mot de pass temporaire vous a été attribué <br/> <strong>Vous devez obligatoirement le changer dés votre premier connextion </strong> </p>
<p> <strong> Mot de Pass :   </strong> {{ temporaryPassword }} </p>